<%= form_for(@manager_inspection) do |f| %>
  <% if @manager_inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager_inspection.errors.count, "error") %> prohibited this manager_inspection from being saved:</h2>

      <ul>
      <% @manager_inspection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="manager_inspection field">
    <%= f.label :unit_number %>
    <%= @manager_inspection.unit_number %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :components %>
    <%= f.check_box :components %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :new_countertop %>
    <%= f.check_box :new_countertop %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :flooring %>
    <%= f.check_box :flooring %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :appliances %>
    <%= f.check_box :appliances %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :paint %>
    <%= f.check_box :paint %>
  </div>
  <div class="manager_inspection field">
    <%= f.label :rent_ready %>
    <%= f.check_box :rent_ready %>
  </div>
<% end %>
