<h1>Compare Inspections for <%=@property.property %></h1>

	<h2 class="compare-left">
		Unit Number
	</h2>
	<h2 class="compare-middle">
		Inspection
	</h2>
	<h2 class="compare-right">
		Manager Inspection
	</h2>
	<br>
	<br>
	<br>
	<br>
	<% @stack.each do |unit| %>
		<div class= "compare <%= unit.pop %>" >
			<div class="compare-left">
				<%= unit.shift %>
			</div>
			<div class="compare-middle">
				<% ci = unit.shift %>
				<% if ci[:id] %>
				<%= link_to "Show Covenant Inspection", inspection_path(ci) %>
				<% else %>
				<%= "No Covenant Inspection" %>
				<% end %>
				Comp:<% if ci[:components] == nil %>
						 <%= "U" %>
						 <% end %>
						 <%= ci[:components] %>
				Count:<% if ci[:new_countertop] == nil %>
							<%= "U" %>
							<% end %>
							<%= ci[:new_countertop] %>
				Floor:<% if ci[:flooring] == nil %>
							<%= "U" %>
							<% end %>
							<%= ci[:flooring]  %>
				Appli:<% if ci[:appliances] == nil %>
					<%= "U" %>
					<% end %>
					<%= ci[:appliances] %>
				Paint:<% if ci[:paint] == nil %>
					<%= "U" %>
					<%end %>
					<%= ci[:paint] %>
			</div>
			<div class="compare-right">
				<% mi = unit.shift %>
				<%= link_to "Show Manager Inspection", manager_inspection_path(mi)%>
				Comp:<% if mi[:components]  == nil %>
					<%= "U" %>
					<%end %>
					<%= mi[:components] %>
				Count:<% if mi[:new_countertop]  == nil %>
					<%= "U" %>
					<% end %>
					<%= mi[:new_countertop] %>
				Floor:<% if mi[:flooring]  == nil %>
					<%= "U" %>
					<% end %>
					<%= mi[:flooring] %>
			  Appli:<% if mi[:appliances]  == nil %>
					<%= "U" %>
					<% end %>
					<%= mi[:appliances] %>
				Paint:<% if mi[:paint] == nil %>
					<%= "U" %>
					<% end %>
					<%= mi[:paint] %>
			</div>
		</div>
	<% end %>