<h1>Compare Inspections</h1>

	<h2 class="compare-left">
		Unit Number
	</h2>
	<h2 class="compare-middle">
		Inspection
	</h2>
	<h2 class="compare-right">
		Manager Inspection
	</h2>
	<br>
	<br>
	<br>
	<br>
	<% @stack.each do |unit| %>
		<div class= "compare <%= unit.pop %>" >
			<div class="compare-left">
				<%= unit.shift %>
			</div>
			<div class="compare-middle">
				<%= ci = unit.shift %>
				<%= ci[:components] || "U" %>
				<%= ci[:new_countertop] || "U" %>
				<%= ci[:flooring]  || "U"%>
				<%= ci[:appliances] || "U" %>
				<%= ci[:paint] || "U" %>
			</div>
			<div class="compare-right">
				<%= mi = unit.shift %>
				<%= mi[:components]  || "U"%>
				<%= mi[:new_countertop]  || "U"%>
				<%= mi[:flooring]  || "U"%>
				<%= mi[:appliances]  || "U"%>
				<%= mi[:paint] || "U" %>
			</div>
		</div>
	<% end %>