<%= form_for(@inspection) do |f| %>
  <% if @inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>
      <ul>
      <% @inspection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" id="property-dropdown">
    <%= f.label :property %><br>
    <%= collection_select(:inspection, :property, Property.all, :property, :property, prompt: true)%>
  </div>
  <div class="field" id="unit-dropdown">
    <%= f.label :unit_number %><br>
    <%= collection_select(:inspection, :unit_number, @inspection.neighbors, :unit_number, :unit_number, prompt: true)  %>
  </div>
  <div class="field">
    <%= f.label :inspector %><br>
    <%= collection_select(:inspection, :inspector, Inspector.all, :inspector, :inspector, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :components %><br>
		<%= f.check_box :components %>
  </div>
  <div class="field">
    <%= f.label :new_countertop %><br>
		<%= f.check_box :new_countertop %>
  </div>
  <div class="field">
    <%= f.label :flooring %><br>
		<%= f.check_box :flooring %>
  </div>
  <div class="field">
    <%= f.label :appliances %><br>
		<%= f.check_box :appliances %>
  </div>
  <div class="field">
    <%= f.label :paint %><br>
		<%= f.check_box :paint %>
  </div>
  <div class="field">
    <%= f.label :rent_ready %><br>
		<%= f.check_box :rent_ready %>
  </div>
  <div class="field">
    <%= f.label :inspection_date %><br>
    <%= f.date_field :inspection_date, :value => Time.now.strftime("%Y-%m-%d")%>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
	<div id="image-field" class="field">
	  <%= f.label :image %><br>
		<%= f.file_field :image, :accept => "image/*", :multiple => true %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>propertyDropdownListener(); fileUploadUI()</script>
