<h1>Manage Current Units</h1>
<p>

	Download Master Walk List:
	<%= link_to "CSV", masterWalklist_properties_path(format: "csv") %>
	<%= link_to "Excel", masterWalklist_properties_path(format: "xls") %>
	<br>
	
	Download Manager Inspections:
	<%= link_to "CSV", manager_inspections_path(format: "csv")%> 
	<%= link_to "Excel", manager_inspections_path(format: "xls")%>

	<br>
	
	Download Units Table: 
	<%= link_to "CSV", currentunits_path(format: "csv")%> 
	<%= link_to "Excel", currentunits_path(format: "xls")%> 


<%= form_tag replace_currentunits_path, multipart: true do %>
<h3> Replace Units Table </h3>
	<div id="spreadsheet-field" class="field">
		<%= file_field_tag :new_unit_list, :accept => "*.csv"%><br>
		<%= submit_tag "Import" %>
	</div>
<% end %>
</p>

