<!DOCTYPE html>
<html>
<head>
  <title>RenovationTracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="<%=image_url('touch-icon.png')%>" />
	<link rel="apple-touch-icon" href="<%=image_url('touch-icon.png')%>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "inspections", inspections_path %>

<%= link_to "new inspection", new_inspection_path %>

<%= link_to "create inspector", new_inspector_path %>

<%= link_to "units index", currentunits_path %>

<%= link_to "compare inspections", properties_path %>

<%= link_to "log out", session_path("1"), :method => :delete %>

<%= yield %>

</body>
</html>
